body {
	margin: 0;
	background-color: rgb(208, 255, 239);
}

.main-game {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.genius {
	display: grid;
	grid-template-areas: /*colour positions*/
		'green red'
		'yellow blue';
	gap: 10px;
	border: 1px solid #fff;
	background-color: #fff;
	border-radius: 100%; /*makes it round*/
	width: 700px;
	height: 700px;
}
